* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-image: linear-gradient(130deg, rgb(24, 220, 220, 0.7), rgb(24, 150, 220, 1), rgb(6, 0, 74, 0.8));
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.box {
width: 60%;
max-width: 540px;
background: #fff;
margin: 100px auto 20px;
padding: 30px 30px 50px;
border-radius: 10px;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.468);
}
.heading {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    
}

.add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

input {
    flex: 1;
    border-radius: 30px;
    background: transparent;
    padding: 10px;
    padding-left: 20px;
    outline: none;
    font-size: 16px;
}
input::placeholder {
    color: #a9a9a9;
}

button {
    border: none;
    outline: none;
    padding: 16px 40px;
    background-color: #ffa500;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style : none;
     padding :10px 1px 10px 40px; /*top right bottom left; */
     font-size : 17px;
     cursor: pointer;
     position: relative;
}
ul li::before{
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    top: 12px;
    left: 12px;
    display: inline-block;
    background-image: url("images/unchecked.png");
    background-size: cover;
    background-position: center;
}
ul li.checked{
   text-decoration: line-through;
}

ul li.checked::before{
    background-image: url("images/checked.png");
}
ul li span{
position: absolute;
right: 0;
top: 5px;
width: 40px;
height: 40px;
font-size: 22px;
color: #555;
line-height: 40px;
text-align: center;
}
ul li span:hover{
    background-color: #a9a9a9;
    
}
