*{
    margin : 0 ;
    padding: 0;
    border :none;
}
body{
    background-image: linear-gradient(130deg,rgb(24, 220, 220,0.7),rgb(24, 150, 220,1),rgb(6, 0, 74,0.8))
    
}
.box{
    height: 200px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    translate: 200px 100px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);

}
.heading{
    padding: 15px;
}
.add{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
}
input{
    flex: 1;
    border-radius: 30px;
    background: transparent;
    padding: 10px;
    padding-left: 20px;
    outline: none;

}
button{
    border: none;
    outline: none;
    padding: 16px 40px;
    background-color: #ffa500;
    cursor: pointer;
    border-radius: 40px;

}

.done{
    padding: 13px;
   
    border-radius: 30px;
    margin: 15px;
}
